$primaryColor: #FFF;
$selectionColor: #003CAF;
$primaryShadow: 0 1px 3px 0 rgba(100,100,100,0.5);
$hoverShadow: 0 1px 8px 1px rgba(100,100,100,0.5);
$defaultTransition: all .3s ease;
$primaryTransitionDuration: .3s;
$primaryMargin: 18px;