@import "../vars/vars";
@import "../vars/mixins";

$topLetterAnimation: 6;

@include keyframes(blink) {
    0% {
        opacity: 1;
    }
    20% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    60% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.header {

    background-color: $primaryColor;
    box-shadow: $primaryShadow;
    padding: .5em;

    .caption {

        font-size: 24pt;
        font-style: italic;

        > img {

            display: inline-block;
            vertical-align: middle;

        }

        #bookmarks {

            $height: 50px;

            position: relative;
            overflow: visible;
            float: right;
            width: 36px;
            height: $height;
            background: url(../img/bookmark.png);
            background-size: cover;
            color: white;
            padding: 12px 0;
            text-align: center;
            font-size: 14pt;
            box-sizing: border-box;
            cursor: pointer;
            z-index: 999;

            &:hover {
                margin-right: 2px !important;
            }

            .links {

                color: black;
                display: none;
                position: absolute;
                top: $height;
                right: 0;
                border: 1px solid black;
                background: rgba(255, 255, 255, 0.95);

                h3 {
                    margin: .5em;
                }

                ul {

                    font-size: 14pt;
                    padding: 0;
                    list-style: decimal-leading-zero inside;
                    margin: .5em .5em;
                    white-space: nowrap;
                    text-align: left;

                    a {

                    }

                }

            }

            &:hover .links {
                display: block;
            }

        }

        .letter {

            display: inline-block;
            position: relative;

            > span {
                position: absolute;
                left: 0;
            }

            > .letterA {
                @include animation(blink #{$topLetterAnimation}s ease-in-out infinite);
            }

            > .letterB {
                @include animation(blink #{$topLetterAnimation}s ease-in-out infinite);
                @include animation-delay(-#{$topLetterAnimation/2}s);
            }

        }

        .sign {
            float: right;
            color: red;
            font-size: 14pt;
        }

    }

}