@import "elements/basic";
@import "elements/header";
@import "elements/menu";
@import "elements/footer";
@import "elements/filterPane";
@import "vars/vars";

.seeAlsos {
    padding: 1em;
}

.floatImg {

    margin: .5em;
    float: left;

    &.right {
        float: right;
    }

}

.pageDesc {
    padding: 0 $primaryMargin 0 $primaryMargin;
}